.content-profile
{
    border: 4px solid gray;
    position: relative;
    display: block;
    justify-content: center;
    margin: 0 30%;

    padding: 2% 2% ;
    align-items: center;
    border-radius: 50px;
}

.userTag
{
    margin: 0 30% 10%;
    border-radius: 180%;
}

.userTag svg
{
    width:150px;
    height:150px;
    border-radius: 180%;
    border:4px solid gold;
    background-color: aqua;
}

.data-user
{
    margin: 15% 10%;
}

.data-user .user_name, .data-user .user_mail
{
    margin: 5% 0;
    font-family:cursive;
    font-size: 20px;
   
}

.data-user .user_name input, .data-user .user_mail input
{
    font-family:cursive;
    font-size: 20px;
    font-weight: 700;
    background-color: #40424400;
    background: #40424400;
    border: none;
}

.interaction .buttons
{
    position: relative;
    padding: 0 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    
}

.interaction .buttons button
{
    font-family: "Nunito", sans-serif;
    margin: 0 25px;
    width: 100px;
    height: 70px;
    border-radius: 20px;
    padding: 5%;
    font-size: 16px;
    box-shadow: inset black;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.363);
}

.interaction .buttons .modifier , .interaction .buttons .new_password, .interaction .buttons .annuler
{
    border: 4px double red;
    background-color: white;
    transition: all 0.5s;
} 

.interaction .buttons .supprimer
{
    border: 4px double red;
    background-color: rgba(247, 0, 0, 0.774);
    color: aliceblue;
    transition: all 0.5s;
}

.interaction .buttons .valider
{
    color: aliceblue;
    background-color: rgba(111, 247, 0, 0.548);
    transition: all 0.5s;
}

.interaction .buttons .modifier:hover , .interaction .buttons .new_password:hover, .interaction .buttons .annuler:hover
{
    border: 4px double white;
    background-color: red;
}


.interaction .buttons .supprimer:hover
{
    border: 4px double red;
    background-color: rgba(253, 252, 252, 0.774);
    color: rgb(250, 0, 0);
    transition: all 0.5s;
}

.interaction .buttons .valider:hover
{
    color: aliceblue;
    background-color: rgba(111, 247, 0, 0.548);
    transition: all 0.5s;
}

@media screen and (max-width: 1000px) 
{
    .content-profile
    {
        margin-top: 5%;

        margin: 0 2%;

    }

    .interaction .buttons
    {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px 1em;

    }

    .data-user .user_name, .data-user .user_mail
    {
        
        font-size: 16px;
    
    }

    .data-user .user_name input, .data-user .user_mail input
    {
        font-size: 12px;
    }

}