{% extends 'base.html' %}
{% block changer %}
    <link rel="stylesheet" type="text/css" href="/static/css/accueil.css">
    <section>
        <div class="principale">
            <h1>Bienvenue sur StegCrypt !</br>
                <span>Pour la sécurité de votre espace.</span></h1><br>
            
            <div class="navigation">
                {% if connected %}
                    <a href="/Tableau-de-bord"><button>Voir mes mots de passe</button></a>
                {% else %}
                    <a href="/Login"><button type="button">Authentification</button></a>
                    <a href="/Sigin"><button type="button">Crée mon compte</button></a>
                {% endif %}
                <a href="/Telechargement"><button type="button">Téléchager StegCrypt</button></a>
            </div>
        </div>
        {% if connected %}
            <div class="secondaire">
                <a href="/Steganographie"><div class="temple steg">
                    <div class="temple_title">
                        <h1>Temple de la : Stéganographie</h1>
                    </div>
                    <div class="temple_description">
                        <h2>
                            Cachez de la donnée dans de la donnée <br><br>
                            <span>exemple: une image dans une autre image</span>
                        </h2>
                    </div>
                    <div class="temple_image">
                        <img src="/static/images/background-aceuil-line-steganographie.png" alt="Image Stéganographie provenant de téganographia order">
                    </div>
                </div></a>
                <br><br>
                <a href="/Crypthographie"><div class="temple crypt">
                    <div class="temple_title">
                        <h1>Temple de la : Crypthographie</h1>
                    </div>
                    <div class="temple_description">
                        <h2>Rendez vos données illisible par les autres
                             <br><br>
                            <span>exemple: salut -> 2/*64fs54fgg*-h/65f</span>
                        </h2>
                    </div>
                    <div class="temple_image">
                        <img src="/static/images/background-aceuil-line-cryptographie.png" alt="Image Crypthographie">
                    </div>
                </div></a>
            </div>
        {% endif %}
    </section>
{% endblock %}