{% extends 'base.html' %}
{% block navlinks %}
	<li><a href="/Tableau-de-bord">Tableau-de-bord</a></li>
{% endblock %}
{% block changer %}
	<link rel="stylesheet" type="text/css" href="/static/css/add_password.css">
	<form action="/Add_password" class="login100-form validate-form" method="post" enctype="multipart/form-data">
		<div class="wrapper">
			<div class="title">
			  Enregistrer un nouveau mot de passe
			</div>
			<div class="form">
			   <div class="inputfield">
				  <label>Platforme</label>
				  <input type="text" class="input" name="platform" value="{{platforme}}" required="required">
			   </div>
			   <br>
			   <div class="previwie">
					<img id="output1" src="/static/images/logo/{{platforme}}.png" class="laod" width="50" height="50">
					<input  type= "file" name= "logoplatform" id= "file"  class = "inputfile" id="images" accept="image/*" onchange="loadFile(event,1,this.id)" />
					<label for="file" class="file" style="cursor: pointer;color: #00b1ca;font-weight: bold;"> Ajouter un logo</label>
			   </div>
			   <br> 
				<div class="inputfield">
				  <label>Nom d'utilisateur</label>
				  <input type="text" class="input" name="pseudo" value="{{Username}}" required="required">
			   </div>
			   <div class="inputfield">
				<label>E-mail</label>
				<input type="email" class="input" name="mail" value="{{mail}}">
			   </div>  
			   <div class="inputfield">
				  <label>Password</label>
				  <input type="password" name="password" value="{{password_th}}" class="input">
			   </div>
			  <div class="inputfield">
				<input type="submit" value="Enregistrer" class="btn">
			  </div>
			</div>
		</div>
	</form>
	
{% endblock %}