{% extends 'base.html' %}
{% block changer %}
    <link rel="stylesheet" type="text/css" href="/static/css/steganographie/portal-stéganographie.css">
    <div class="lieu_de_culte">
        <a href="/Steganographie/Text"><div class="content">
            <div class="title">
                <h1>Cacher du text</h1>
            </div>
            <div class="description">
                <p>Cacher du text dans une image</p>
            </div>
            <div class="image">
                <img src="/static/images/steganographie/hide_text.jpg" alt="hide_text.jpg">
            </div>
        </div></a>

        <a href="/Steganographie/Image"><div class="content">
            <div class="title">
                <h1>Cacher une image</h1>
            </div>
            <div class="description">
                <p>Cacher une image dans une image</p>
            </div>
            <div class="image">
                <img src="/static/images/steganographie/hide_image.jpg" alt="hide_text.jpg">
            </div>
        </div></a>

        <a href="/steganographie/song"><div class="content">
            <div class="title">
                <h1>Cacher du song</h1>
            </div>
            <div class="description">
                <p>Cacher du song dans une image</p>
            </div>
            <div class="image">
                <img src="/static/images/steganographie/hide_song.png" alt="hide_text.jpg">
            </div>
        </div></a>

        <a href="/steganographie/video"><div class="content">
            <div class="title">
                <h1>Cacher une video</h1>
            </div>
            <div class="description">
                <p>Cacher une video dans une image</p>
            </div>
            <div class="image">
                <img src="/static/images/steganographie/hide_video.png" alt="hide_text.jpg">
            </div>
        </div></a>

        <a href="/steganographie/fichier-texte"><div class="content">
            <div class="title">
                <h1>Cacher un fichier-texte</h1>
            </div>
            <div class="description">
                <p>Cacher un fichier-texte dans une image</p>
            </div>
            <div class="image">
                <img src="/static/images/steganographie/hide_file-text.png" alt="hide_text.jpg">
            </div>
        </div></a>
    </div>
{% endblock %}