{% extends 'base.html' %}
{% block navlinks %}
<li><a href="/Steganographie">Stéganographie</a></li>
{% endblock %}
{% block changer %}
<link rel="stylesheet" type="text/css" href="/static/css/crypthographie/portal_crypthographie.css">
<section>
    <div class="images">
        <img src="/static/images/chiffrer/cadena.webp" alt="cadena">
    </div>
    <p>
        <a href="/Steganographie/Image/Cacher" class="rigth"><button>Cacher</button></a>       
        <a href="/Steganographie/Image/Retrouver" class="left"><button>Retrouver</button></a>
        </p>
</section>
{% endblock %}