{% extends 'base.html' %}
{% block changer %}
<style>
    .new_password
{
    height: 50px;
    width: 200px;
    text-align: center;
    -webkit-transform: scale(1);
	transform: scale(1);
    transition: .3s ease-in-out;
    color:rgb(43, 58, 71);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border: 1px solid rgb(31, 26, 1);
    background-color: aliceblue;
}

.new_password:hover
{
    -webkit-transform: scale(1);
	transform: scale(1);
    transition: .3s ease-in-out;
    color:aliceblue;
    background-color: black;
    border: 3px solid gold;
}

</style>

<div class="box_case" style="justify-content:center; color: black; padding: 5%; border: 3px solid black; margin:5%; width: 350px; margin-left: 30%;">
    <img src="/static/images/logo.png" alt="logo" width="100">
    <form action="/Change_password" method="post">
        <br><div class="mot_de_passe">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" required>
        </div><br>
        <br><div class="nouveau_mot_de_passe">
            <label for="password">Nouveau mot de passe</label>
            <input type="password" name="new_password" required>
        </div><br>
        <div id="new_password">
            <button class="new_password" type="submit" >Confirmer</button>
        </div>
        <p style="color:rgb(226, 43, 43)">{{text}}</p>
    </form>
</div>
{% endblock %}