/* section */

section
{
    display: block;
    text-align: center;
}


section img 
{
    width: 30%;
    height: 30%;
    transition: all 0.5s;
    -webkit-transform: scale(1);
	transform: scale(1);
}

section img:hover
{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

button {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 4px #000000;
    background-color: #06065e;
    color: white;
    transition: all 0.5s;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

button:hover
{
    -webkit-transform: scale(0.8);
	transform: scale(0.8);
    background: linear-gradient(to right, rgb(0, 28, 65), rgb(26, 111, 238));
}

@media screen and (max-width: 1000px) 
{
    button
    {
        width: 150px;
        height: 50px;
        margin-bottom: 2%;
    }

    section img 
    {
        width: 50%;
        height: 50%;
    }
    
    section
    {
        margin-top: 50px;
    }

}