
section
{
    display: block;
}

section .principale
{
    opacity: 1;
    display: block;
    justify-content: start;
    padding-bottom: 10px;
}

section .principale h1
{
    color: #e3e3e4;
    font-size: 60px;
    font-weight: 400;
}

section .principale h1 span
{
    color: #3d3d3d;
    font-size: 35px;
    font-weight: 400;
}

section .principale .navigation
{
    display: flex;
}

section .principale .navigation a
{
    padding: 2%;
}

section .principale .navigation a button
{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid #45f3ff;
    background-color: #e3e3e4;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
section .principale .navigation a button:hover,
section .principale .navigation a:nth-child(1) button
{
    background-color: #45f3ff;
}

section .secondaire
{
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

section .secondaire .temple
{
    background-color: #1f212c;
    color: #e3e3e4;
    padding: 2%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

section .secondaire .temple:hover
{
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    border: 3px solid #45f3ff;
}

section .secondaire .temple .temple_title
{
    padding-bottom: 2%;
    border-bottom:3px solid antiquewhite;

    font-size: 16px;
    font-weight: 400;

}

section .secondaire .temple .temple_description
{
    color: #3d3d3d;
    font-size: 12px;
    font-weight: 400;
    padding: 5%;
}

section .secondaire .temple .temple_description span
{
    font-style: italic;
    color: #6d6d6d;
}

section .secondaire .temple .temple_image img
{
    border: 2px solid #e3e3e4;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    margin:  0% 20%;
}

@media screen and (max-width: 900px) 
{
    section .principale h1
    {
        color: #e3e3e4;
        font-size: 35px;
        font-weight: 400;
    }

    section .principale h1 span
    {
        color: #3d3d3d;
        font-size: 15px;
        font-weight: 400;
    }

    section .principale .navigation
    {
        display: grid;
    }

    section .secondaire
    {
        display: block;
    }



}